In [ ]:
from google.colab import files
uploaded = files.upload()

Saving financials2.xlsx to financials2.xlsx

In [ ]:
import pandas as pd

# Load and preprocess data
df = pd.read_excel('financials2.xlsx')

df = df.drop("Sector", axis = 1)

df.set_index('Symbol', inplace=True)
df = df.apply(lambda x: x.astype('float64'))

In [ ]:
df.info()

<class 'pandas.core.frame.DataFrame'>
Index: 505 entries, MMM to ZTS
Data columns (total 9 columns):
 #   Column          Non-Null Count  Dtype
---  ------          --------------  -----
 0   Clusters        505 non-null    float64
 1   Price           505 non-null    float64
 2   PE              503 non-null    float64
 3   Dividend Yield  505 non-null    float64
 4   Earnings/Share  505 non-null    float64
 5   Market Cap      505 non-null    float64
 6   EBITDA          505 non-null    float64
 7   Price/Sales     505 non-null    float64
 8   PB              497 non-null    float64
dtypes: float64(9)
memory usage: 55.6+ KB

In [ ]:
df.mean()

Clusters          3.958416e+00
Price             1.038306e+02
PE                2.480839e+01
Dividend Yield    1.895953e+00
Earnings/Share    3.753743e+00
Market Cap        4.923944e+10
EBITDA            3.590328e+09
Price/Sales       3.941705e+00
PB                1.445318e+01
dtype: float64

In [ ]:
df = df.fillna(df.mean())
df.isna().sum()

Clusters          0
Price             0
PE                0
Dividend Yield    0
Earnings/Share    0
Market Cap        0
EBITDA            0
Price/Sales       0
PB                0
dtype: int64

In [ ]:
df.info()

<class 'pandas.core.frame.DataFrame'>
Index: 505 entries, MMM to ZTS
Data columns (total 9 columns):
 #   Column          Non-Null Count  Dtype
---  ------          --------------  -----
 0   Clusters        505 non-null    float64
 1   Price           505 non-null    float64
 2   PE              505 non-null    float64
 3   Dividend Yield  505 non-null    float64
 4   Earnings/Share  505 non-null    float64
 5   Market Cap      505 non-null    float64
 6   EBITDA          505 non-null    float64
 7   Price/Sales     505 non-null    float64
 8   PB              505 non-null    float64
dtypes: float64(9)
memory usage: 55.6+ KB

In [ ]:
df

,Clusters,Price,PE,Dividend Yield,Earnings/Share,Market Cap,EBITDA,Price/Sales,PB
Symbol,,,,,,,,,
MMM,9.0,222.89,24.31,2.332862,7.92,1.387211e+11,9.048000e+09,4.390271,11.34
AOS,0.0,60.24,27.76,1.147959,1.70,1.078342e+10,6.010000e+08,3.575483,6.35
ABT,5.0,56.27,22.51,1.908982,0.26,1.021210e+11,5.744000e+09,3.740480,3.19
ABBV,9.0,108.48,19.41,2.499560,3.29,1.813863e+11,1.031000e+10,6.291571,26.14
ACN,2.0,150.51,25.47,1.714470,5.44,9.876586e+10,5.643228e+09,2.604117,10.62
...,...,...,...,...,...,...,...,...,...
XYL,0.0,70.24,30.94,1.170079,1.83,1.291502e+10,7.220000e+08,2.726209,5.31
YUM,0.0,76.30,27.25,1.797080,4.07,2.700330e+10,2.289000e+09,6.313636,212.08
ZBH,2.0,115.53,14.32,0.794834,9.01,2.445470e+10,2.007400e+09,3.164895,2.39
ZION,0.0,50.71,17.73,1.480933,2.60,1.067068e+10,0.000000e+00,3.794579,1.42
ZTS,8.0,71.51,32.80,0.682372,1.65,3.599111e+10,1.734000e+09,9.280896,18.09

In [ ]:
# Normalized distance
# pandas uses sample standard deviation
df_norm = (df - df.mean())/df.std()
df_norm

,Clusters,Price,PE,Dividend Yield,Earnings/Share,Market Cap,EBITDA,Price/Sales,PB
Symbol,,,,,,,,,
MMM,1.536234,0.885676,-0.012109,0.284221,0.732331,0.993686,0.797842,0.129639,-0.035001
AOS,-1.206179,-0.324268,0.071712,-0.486591,-0.361000,-0.427051,-0.437002,-0.105841,-0.091102
ABT,0.317384,-0.353801,-0.055841,0.008476,-0.614119,0.587246,0.314839,-0.058156,-0.126629
ABBV,1.536234,0.034586,-0.131159,0.392662,-0.081515,1.467481,0.982330,0.679130,0.131392
ACN,-0.596754,0.347245,0.016074,-0.118060,0.296405,0.549987,0.300108,-0.386574,-0.043096
...,...,...,...,...,...,...,...,...,...
XYL,-1.206179,-0.249879,0.148973,-0.472201,-0.338149,-0.403380,-0.419313,-0.351288,-0.102795
YUM,-1.206179,-0.204799,0.059321,-0.064320,0.055591,-0.246931,-0.190238,0.685507,2.221872
ZBH,-0.596754,0.087031,-0.254825,-0.716309,0.923928,-0.275233,-0.231404,-0.224504,-0.135624
ZION,-1.206179,-0.395162,-0.171976,-0.269982,-0.202801,-0.428303,-0.524860,-0.042521,-0.146529
ZTS,1.231521,-0.240431,0.194164,-0.789468,-0.369789,-0.147122,-0.271371,1.543070,0.040888

In [ ]:
from sklearn.cluster import KMeans
kmeans = KMeans(n_clusters=11, random_state=0).fit(df_norm)

# Cluster membership
memb = pd.Series(kmeans.labels_, index=df_norm.index)
for key, item in memb.groupby(memb):
    print(key, ': ', ', '.join(item.index))

0 :  ACN, AYI, AAP, AET, AMG, AFL, APD, ALK, ALB, ADS, AMP, ANTM, AON, APTV, AIZ, BDX, BIIB, CB, CI, CTAS, STZ, COST, CSX, CMI, DE, DG, EMN, ECL, RE, ESRX, FFIV, FDX, GD, GS, GWW, HRS, HCA, HUM, HII, ITW, IFF, JBHT, KSU, LLL, LH, LRCX, LNC, LMT, LYB, MTB, MLM, MCK, MTD, MHK, TAP, MON, NSC, NTRS, NOC, ORLY, PKG, PH, PSX, PNC, PPG, PRU, PVH, RTN, REGN, ROK, COL, ROP, RCL, SNI, SHW, SNA, LUV, SWK, STT, TEL, COO, TRV, TMO, TWX, TDG, ULTA, UAL, URI, UHS, WLTW, WYN, WYNN, ZBH
1 :  GOOGL, GOOG, AMZN
2 :  AOS, A, AKAM, ALLE, AAL, AME, APH, APC, AMAT, ARNC, BLL, BAX, BWA, BSX, BHF, BF.B, COG, CDNS, KMX, CBOE, CBG, CBS, CELG, CNC, CERN, SCHW, CHK, CMG, XEC, CTXS, CTSH, CMA, CSRA, DHI, DHR, DVA, XRAY, DVN, DISCA, DISCK, DISH, DLTR, DXC, ETFC, EBAY, EW, EA, EVHC, EQT, EFX, EL, EXPE, EXPD, FIS, FISV, FLIR, FMC, FTV, FBHS, FCX, IT, GPN, HAL, HSIC, HES, HLT, HOLX, IDXX, INFO, IQV, JEC, LEN, LKQ, MRO, MAR, MAS, MAT, MGM, KORS, MCHP, MU, MYL, NOV, NTAP, NFX, NEM, NWSA, NWS, NKE, NBL, NCLH, NRG, PYPL, PKI, PRGO, PCG, PXD, PHM, QRVO, PWR, RRC, RJF, RHT, RMD, ROST, SEE, SWKS, SRCL, SYK, SYMC, SNPS, TPR, TXT, MOS, TMK, TSS, TRIP, FOXA, FOX, UAA, UA, VAR, VMC, WAT, XLNX, XYL, YUM, ZION
3 :  ABT, LNT, ALL, AEE, AEP, AXP, AIG, AWK, ABC, ANDV, APA, ADM, AJG, ADP, AVY, BBT, BBY, HRB, BXP, CHRW, CA, CPB, COF, CAH, CCL, CF, CHD, CINF, CFG, CMS, CL, CAG, COP, ED, GLW, COTY, DRI, DAL, DFS, DOV, DPS, DTE, ETN, EIX, EMR, ES, EXC, FAST, FITB, FLS, FLR, FL, BEN, GPS, GRMN, GE, GIS, GPC, GT, HBI, HOG, HIG, HAS, HPE, HRL, HPQ, HBAN, IR, IP, IPG, IVZ, SJM, JCI, JNPR, K, KEY, KMB, KMI, KLAC, KSS, KR, LEG, LUK, LLY, MPC, MMC, MKC, MET, MDLZ, MS, MSI, NDAQ, NWL, NLSN, NI, JWN, NUE, OMC, PCAR, PDCO, PAYX, PNR, PBCT, PNW, RL, PX, PFG, PGR, PEG, QCOM, DGX, RF, RSG, RHI, SLB, SRE, SIG, SLG, SBUX, STI, SYF, SYY, TROW, TGT, FTI, BK, CLX, HSY, TIF, TJX, TSCO, TSN, USB, UNM, VFC, VLO, VIAB, VNO, WBA, WM, WEC, WDC, WU, WRK, WY, WHR, XEL, XRX, XL
4 :  LB, PM
5 :  AAPL, T, CVX, CMCSA, XOM, FB, INTC, JNJ, MSFT, VZ, WMT
6 :  AMD, BHGE, EOG, NFLX, OXY, CRM, SBAC, VRTX
7 :  MMM, ABBV, MO, AMGN, BAC, BRK.B, BA, BMY, AVGO, CAT, CSCO, C, KO, CVS, DWDP, GM, GILD, HD, HON, IBM, JPM, KHC, LOW, MCD, MDT, MRK, NEE, ORCL, PEP, PFE, PG, TXN, DIS, UNP, UNH, UPS, UTX, WFC
8 :  AGN, AZO, BLK, CHTR, PCLN
9 :  ATVI, ADBE, ARE, ALXN, ALGN, AMT, ADI, ANSS, ADSK, AVB, CME, CXO, CCI, DLR, DRE, EQIX, EQR, ESS, EXR, FRT, GGP, ILMN, INCY, INTU, ISRG, MAC, MA, MNST, MCO, NVDA, PLD, PSA, O, REG, SPGI, UDR, VRSN, VRSK, V, ZTS
10 :  AES, AIV, CNP, CTL, D, DUK, ETR, FE, F, HCP, HP, HST, ICE, IRM, KIM, L, M, MAA, NAVI, OKE, PPL, SCG, STX, SPG, SO, VTR, HCN, WMB

In [ ]:
centroids = pd.DataFrame(kmeans.cluster_centers_, columns=df_norm.columns)
pd.set_option('precision', 3)
print(centroids)
pd.set_option('precision', 6)

    Clusters  Price     PE  Dividend Yield  Earnings/Share  Market Cap  \
0     -0.544  0.462 -0.095          -0.413           0.816      -0.184
1      0.013  7.559  2.377          -1.233           2.311       7.405
2     -1.206 -0.284  0.011          -0.828          -0.537      -0.320
3      0.317 -0.321 -0.220           0.446          -0.182      -0.255
4      1.689 -0.221 -0.176           1.764           0.084       0.383
5     -0.735 -0.102 -0.126           0.569           0.106       3.551
6      0.584  0.040  5.797          -0.620          -0.656       0.025
7      1.408  0.061 -0.127           0.381           0.212       1.203
8      0.683  4.505  0.547          -0.738           6.001       0.211
9      1.232  0.184 -0.027           0.002          -0.203      -0.095
10     1.841 -0.444 -0.300           2.356          -0.464      -0.326

    EBITDA  Price/Sales      PB
0   -0.175       -0.348  -0.093
1    3.523        0.547  -0.036
2   -0.296       -0.084  -0.073
3   -0.221       -0.460  -0.074
4    0.508       -0.494  15.139
5    4.997       -0.055  -0.111
6   -0.298        1.380   0.112
7    0.954       -0.051   0.037
8    0.196        0.299   0.173
9   -0.254        2.575   0.013
10  -0.148       -0.074  -0.130